<%-include("header") -%>
<h2>This is about section</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam culpa id quaerat distinctio possimus maiores ducimus dicta non eos, soluta sequi veritatis, consequatur iusto labore tempora aliquam, incidunt hic natus!</p>

<%- include("footer") -%>